<%- include('./partials/header.ejs'); %>
<body>
<%- include('./partials/navbar.ejs'); %>
<div class="container mt-5">
    <div class="card  mt-5" id="form-card">
        <div class="card-header">
            <h3>AskMe something</h3>
        </div>

        <div class="card body">
            <form method="post" action="/saveQuestions">
                <div class="container mt-3">
                    <label class="font-weight-bold" for="">Title</label>
                    <input type="text" placeholder="Tittle" class="form-control" name="title">
                </div>

                <div class="container mt-3">
                    <label class="font-weight-bold" for="">Description</label>
                    <textarea placeholder="Ask something here" id="" cols="30" rows="10"
                              class="form-control" name="description"></textarea>
                </div>
                <div class="container mt-3 mb-3">
                    <button class="btn btn-primary">AskMe</button>
                </div>
            </form>

        </div>
    </div>

    <div class="container mt-3">
    </div>
</div>
</body>
<%- include('./partials/footer.ejs'); %>